<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:theme="@style/DarkTheme"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        tools:targetApi="35">
<!-- for future reference... Need android.name in the application part but idk what to do ther efor now-->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".ui.bookmarks.BookmarkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.shopping.ShoppingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="true" />
        <activity
            android:name=".ui.Startup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.Login"
            android:exported="true" />
        <activity
            android:name=".ui.auth.Signup"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
    </application>

</manifest>